<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.BackMoneyReportMapper">
    <!-- 查询催收员实时回款报表 -->
    <select id="getRealTimeReport" parameterType="cn.fintecher.pangolin.report.model.GeneralParams"
            resultType="cn.fintecher.pangolin.report.entity.BackMoneyReport">
        SELECT parentDeptCode,parentDeptName,deptCode,deptName,userName,realName,backMoney,companyCode,backDate from
        (SELECT b.deptCode as parentDeptCode,b.deptName as parentDeptName,b.groupCode as deptCode,b.groupName as
        deptName,b.userName,b.realName,a.backMoney,a.companyCode,DATE_FORMAT(NOW(),'%Y-%m-%d') as backDate from
        (SELECT apply_user_name as userName,apply_real_name as realName,sum(case when apply_pay_amt is null then 0 else
        apply_pay_amt end + case when apply_derate_amt is null then 0 else apply_derate_amt end) as
        backMoney,company_code as companyCode from case_pay_apply where approve_status = 58 and
        DATE_FORMAT(approve_pay_datetime,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d') GROUP BY
        userName,realName,companyCode) a
        left join
        (SELECT l.deptCode,l.deptName,l.groupCode,l.groupName,k.userName,k.realName from
        (SELECT user_name as userName,dept_id as deptId,real_name as realName from user) k
        LEFT JOIN
        (SELECT g.deptCode,g.deptName,f.groupCode,f.groupName,f.id from(
        (SELECT `code` as groupCode,`name` as groupName,id,pid from department) f
        LEFT JOIN
        (SELECT id,`code` as deptCode,`name` as deptName from department WHERE `level` !=8) g on f.pid = g.id)) l on k.deptId = l.id) b
        on a.userName = b.userName
        UNION
        SELECT b.deptCode as parentDeptCode,b.deptName as parentDeptName,b.groupCode as deptCode,b.groupName as
        deptName,a.userName,a.realName,0 as backMoney,a.companyCode,DATE_FORMAT(NOW(),'%Y-%m-%d') as backDate from
        (SELECT user_name as userName,real_name as realName,company_code
        as companyCode from user where id in
        (SELECT current_collector as userId from case_info where current_collector not in(SELECT id from user where
        user_name in
        (SELECT apply_user_name from case_pay_apply where approve_status = 58 and date_format(apply_date,'%Y-%m-%d') =
        date_format(now(),'%Y-%m-%d'))))) a
        LEFT JOIN
        (SELECT l.deptCode,l.deptName,l.groupCode,l.groupName,k.userName,k.realName from
        (SELECT user_name as userName,dept_id as deptId,real_name as realName from user) k
        LEFT JOIN
        (SELECT g.deptCode,g.deptName,f.groupCode,f.groupName,f.id from
        (SELECT `code` as groupCode,`name` as groupName,id,pid from department) f
        LEFT JOIN
        (SELECT id,`code` as deptCode,`name` as deptName from department WHERE `level` !=8) g on f.pid = g.id) l on k.deptId = l.id) b
        on a.userName = b.userName
        ) as temp where deptCode like CONCAT(#{deptCode},'%')
        <if test="companyCode != null">
            AND companyCode = #{companyCode}
        </if>
        <if test="code != null">
            AND deptCode LIKE CONCAT(#{code}, '%')
        </if>
        <if test="userName != null">
            AND userName LIKE CONCAT('%', #{userName}, '%')
        </if>
        ORDER BY deptCode asc,backMoney desc
    </select>

    <!-- 生成催收员历史回款报表 -->
    <select id="saveHistoryReport" parameterType="Date"
            resultType="cn.fintecher.pangolin.report.entity.BackMoneyReport">
        SELECT parentDeptCode,parentDeptName,deptCode,deptName,userName,realName,backMoney,companyCode,backDate from
        (SELECT b.deptCode as parentDeptCode,b.deptName as parentDeptName,b.groupCode as deptCode,b.groupName as deptName,b.userName,b.realName,a.backMoney,a.companyCode,DATE_FORMAT(#{historyDate},'%Y-%m-%d') as backDate from
        (SELECT apply_user_name as userName,apply_real_name as realName,sum(case when apply_pay_amt is null then 0 else apply_pay_amt end + case when apply_derate_amt is null then 0 else apply_derate_amt end) as
        backMoney,company_code as companyCode from case_pay_apply where approve_status = 58 and DATE_FORMAT(approve_pay_datetime,'%Y-%m-%d') = DATE_FORMAT(#{historyDate},'%Y-%m-%d') GROUP BY userName,realName,companyCode) a
        left join
        (SELECT l.deptCode,l.deptName,l.groupCode,l.groupName,k.userName,k.realName from
        (SELECT user_name as userName,dept_id as deptId,real_name as realName from user) k
        LEFT JOIN
        (SELECT g.deptCode,g.deptName,f.groupCode,f.groupName,f.id from(
		(SELECT `code` as groupCode,`name` as groupName,id,pid from department) f
		LEFT JOIN
		(SELECT id,`code` as deptCode,`name` as deptName from department WHERE `level` !=8) g on f.pid = g.id)) l on k.deptId = l.id) b
		on a.userName = b.userName
        UNION
        SELECT b.deptCode as parentDeptCode,b.deptName as parentDeptName,b.groupCode as deptCode,b.groupName as deptName,a.userName,a.realName,0 as backMoney,a.companyCode,DATE_FORMAT(#{historyDate},'%Y-%m-%d') as backDate from (SELECT user_name as userName,real_name as realName,company_code
        as companyCode from user where id in
        (SELECT current_collector as userId from case_info where current_collector not in(SELECT id from user where
        user_name in
        (SELECT apply_user_name from case_pay_apply where approve_status = 58 and DATE_FORMAT(approve_pay_datetime,'%Y-%m-%d') = DATE_FORMAT(#{historyDate},'%Y-%m-%d'))))) a
        LEFT JOIN
        (SELECT l.deptCode,l.deptName,l.groupCode,l.groupName,k.userName,k.realName from
				(SELECT user_name as userName,dept_id as deptId,real_name as realName from user) k
				LEFT JOIN
				(SELECT g.deptCode,g.deptName,f.groupCode,f.groupName,f.id from
				(SELECT `code` as groupCode,`name` as groupName,id,pid from department) f
				LEFT JOIN
				(SELECT id,`code` as deptCode,`name` as deptName from department WHERE `level` !=8) g on f.pid = g.id) l on k.deptId = l.id) b
        on a.userName = b.userName
        ) as temp ORDER BY deptCode asc,backMoney desc
    </select>

    <!-- 查询用户的部门code码和名称 -->
    <select id="getDept" parameterType="String" resultType="cn.fintecher.pangolin.report.model.DeptModel">
        SELECT code,name,case when pid is null THEN 0 ELSE 1 end as flag from department where id = (SELECT dept_id from user where user_name = #{userName})
    </select>

    <!-- 通过部门id查询部门code码 -->
    <select id="getDeptCode" parameterType="string" resultType="java.lang.String">
        SELECT code from department where id = #{id}
    </select>

    <!-- 查询回款历史报表 -->
    <select id="getHistoryReport" parameterType="cn.fintecher.pangolin.report.model.GeneralParams"
            resultMap="backMoneyReport">
        SELECT * from back_money_report where dept_code like CONCAT(#{deptCode},'%')
        <if test="companyCode != null">
            and company_code = #{companyCode}
        </if>
        <if test="startDate != null and endDate != null">
            AND <![CDATA[DATE_FORMAT(back_date,'%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d')]]>
            AND <![CDATA[DATE_FORMAT(back_date,'%Y-%m-%d') <= DATE_FORMAT(#{endDate},'%Y-%m-%d')]]>
        </if>
        <if test="code != null">
            AND dept_code LIKE CONCAT(#{code}, '%')
        </if>
        <if test="userName != null">
            AND user_name LIKE CONCAT('%', #{userName}, '%')
        </if>
        order by parent_dept_code asc,dept_code asc,user_name asc,back_date DESC
    </select>

    <resultMap id="backMoneyReport" type="cn.fintecher.pangolin.report.entity.BackMoneyReport">
        <id column="id" property="id"/>
        <result column="dept_code" property="deptCode"/>
        <result column="dept_name" property="deptName"/>
        <result column="parent_dept_code" property="parentDeptCode"/>
        <result column="parent_dept_name" property="parentDeptName"/>
        <result column="user_name" property="userName"/>
        <result column="real_name" property="realName"/>
        <result column="back_money" property="backMoney"/>
        <result column="back_date" property="backDate"/>
        <result column="operator_user_name" property="operatorUserName"/>
        <result column="operator_real_name" property="operatorRealName"/>
        <result column="operator_date" property="operatorDate"/>
        <result column="company_code" property="companyCode"/>
    </resultMap>
</mapper>