<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.CupoPageMapper">

    <!--月度任务完成度-->
    <select id="getTodyTashFinished" parameterType="string" resultType="double">
        select m.pamt/n.back_cash from
        (
        select sum(apply.apply_pay_amt) as pamt,apply.apply_user_name from case_pay_apply as apply
        where (apply.approve_result = 62 OR apply.approve_status = 58)
        and apply.apply_user_name = #{username}
        and year(apply.approve_pay_datetime) = year(NOW())
        and month(apply.approve_pay_datetime) = month(NOW())
        ) as m
        left join
        (
        select plan.user_name,plan.back_cash from user_backcash_plan as plan
        where plan.user_name = #{username}
        and plan.year = year(now())
        and plan.month = month(now())
        ) as n
        on m.apply_user_name = n.user_name
    </select>

    <!--案件情况/案件金额总计-->
    <select id="getCaseCountResult" parameterType="string" resultType="cn.fintecher.pangolin.report.model.CaseCountResult">
        SELECT collection_status AS status,count(collection_status) AS num,sum(overdue_amount) AS amt FROM case_info
        WHERE (current_collector = #{userId} OR assist_collector = #{userId}) AND collection_status IN (20, 21, 22, 23, 24)
        GROUP BY collection_status
    </select>

    <!--本周回款-->
    <select id="getRepayWeek" parameterType="string" resultType="cn.fintecher.pangolin.report.model.WeekCountResult">
        SELECT sum(apply_pay_amt) AS amount,WEEKDAY(approve_pay_datetime) AS dayOfWeek FROM case_pay_apply
        WHERE apply_user_name = #{username}
        AND YEARWEEK(date_format(approve_pay_datetime,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
        AND (approve_result = 62 OR approve_status = 58)
        GROUP BY WEEKDAY(approve_pay_datetime)
        ORDER BY dayOfWeek
    </select>

    <!--本周催计数-->
    <select id="getFolWeek" parameterType="string" resultType="cn.fintecher.pangolin.report.model.WeekCountResult">
       SELECT count(id) AS num,WEEKDAY(operator_time) AS dayOfWeek FROM case_followup_record
       WHERE operator = #{username}
       AND YEARWEEK(date_format(operator_time,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
       GROUP BY WEEKDAY(operator_time)
       ORDER BY dayOfWeek
    </select>

    <!--本周结案数-->
    <select id="getCaseEndWeek" parameterType="string" resultType="cn.fintecher.pangolin.report.model.WeekCountResult">
        SELECT count(id) AS num,WEEKDAY(operator_time) AS dayOfWeek FROM case_info
        WHERE (current_collector = #{userId} OR assist_collector = #{userId})
        AND collection_status = 24
        AND YEARWEEK(date_format(operator_time,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
        GROUP BY WEEKDAY(operator_time)
        ORDER BY dayOfWeek
    </select>

    <!--今日流入案件数-->
    <select id="getFlowInCaseToday" parameterType="string" resultType="integer">
        SELECT COUNT(*) FROM case_turn_record
        WHERE to_days(operator_time) = to_days(now())
        AND receive_user_id = #{userId}
    </select>

    <!--今日结清案件数-->
    <select id="getFinishCaseToday" parameterType="string" resultType="integer">
        SELECT COUNT(*) FROM (
        SELECT case_info.id FROM case_info
        WHERE current_collector = #{userId}
        AND collection_status = 24
        AND to_days(operator_time) = to_days(now())
        UNION ALL
        SELECT case_assist.id AS num FROM case_assist
        LEFT JOIN case_info
        ON case_assist.case_id = case_info.id
        WHERE case_assist.assist_collector = #{userId}
        AND case_assist.assist_status = 29
        AND case_info.collection_status = 24
        AND to_days(case_assist.operator_time) = to_days(now())
        ) AS m
    </select>

    <!--今日流出案件数-->
    <select id="getFlowOutCaseToday" parameterType="string" resultType="integer">
        SELECT COUNT(*) FROM case_turn_record
        WHERE to_days(operator_time) = to_days(now())
        AND current_collector = #{userId}
    </select>

    <!--催收员回款总额-->
    <select id="getMoneySumResult" parameterType="string" resultType="java.math.BigDecimal">
        SELECT SUM(apply_pay_amt) FROM case_pay_apply WHERE (approve_result = 62 OR approve_status = 58) AND apply_user_name = #{username}
    </select>

    <!--本月回款总额-->
    <select id="getMonthMoneyResult" parameterType="string" resultType="java.math.BigDecimal">
        SELECT SUM(apply_pay_amt) FROM case_pay_apply
        WHERE (approve_result = 62 OR approve_status = 58)
        AND DATE_FORMAT(approve_pay_datetime, '%Y%m') = DATE_FORMAT(curdate(),'%Y%m')
        AND apply_user_name = #{username}
    </select>

    <!--今天回款总额-->
    <select id="getDayMoneyResult" parameterType="string" resultType="java.math.BigDecimal">
        SELECT SUM(apply_pay_amt) FROM case_pay_apply
        WHERE (approve_result = 62 OR approve_status = 58)
        AND to_days(approve_pay_datetime) = to_days(now())
        AND apply_user_name = #{username}
    </select>

    <!--今日累计催收次数-->
    <select id="getDayFollowCount" parameterType="string" resultType="integer">
        SELECT COUNT(*) FROM case_followup_record
        WHERE to_days(operator_time) = to_days(now())
        AND operator = #{username}
    </select>

    <!--本月累计催收次数-->
    <select id="getMonthFollowCount" parameterType="string" resultType="integer">
        SELECT COUNT(*) FROM case_followup_record
        WHERE DATE_FORMAT(operator_time, '%Y%m') = DATE_FORMAT(curdate(),'%Y%m')
        AND operator = #{username}
    </select>

    <!--催收员当前催收案件数-->
    <select id="getCaseInfoCount" parameterType="string" resultType="integer">
        SELECT COUNT(*) FROM case_info
        WHERE collection_status NOT IN (24,25,166)
        AND (current_collector = #{userId} OR assist_collector = #{userId})
    </select>

    <!-- 催收员案件总数（包含已结案的）-->
    <select id="getCaseInfoAllCount" parameterType="string" resultType="integer">
        SELECT COUNT(*) FROM (
        SELECT case_info.id FROM case_info
        WHERE current_collector = #{userId}
        UNION ALL
        SELECT case_assist.id FROM case_assist
        WHERE assist_collector = #{userId}
        ) AS m
    </select>

    <!--月度回款总额-->
    <select id="getBackCash" parameterType="string" resultType="java.math.BigDecimal">
        SELECT back_cash FROM user_backcash_plan as plan
        WHERE plan.user_name = #{username}
        and plan.year = year(now())
        and plan.month = month(now())
    </select>
</mapper>