<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.DailyProcessReportMapper">
    <!-- 查询催收员每日催收过程实时报表 -->
    <select id="getRealTimeReport" parameterType="cn.fintecher.pangolin.report.model.GeneralParams"
            resultType="cn.fintecher.pangolin.report.entity.DailyProcessReport">
        SELECT
        c.deptCode,c.deptName,c.parentDeptCode,c.parentDeptName,c.userName,c.realName,a.caseNum,a.caseAmt,a.handleNum,a.promiseNum,a.consultNum,a.otherTellNum,a.findNum,
        a.noAnswerNum,case when b.callNum is null then 0 else b.callNum end as callNum,case when b.communicateNum is
        null then 0 else b.communicateNum end as communicateNum,
        case when b.callDuration is null then 0 else b.callDuration end as
        callDuration,
        case when b.effectiveCallNum is null then 0 else b.effectiveCallNum end as
        effectiveCallNum,c.companyCode,DATE_FORMAT(NOW(),'%Y-%m-%d') as nowDate from
        (SELECT m.id,n.deptCode,n.deptName,n.parentDeptCode,n.parentDeptName,m.companyCode,m.userName,m.realName from
        (SELECT id,dept_id as deptId,company_code as companyCode,
        user_name as userName,real_name as realName from user) m
        LEFT JOIN
        (SELECT h.deptCode,h.deptName,h.id,j.parentDeptCode,j.parentDeptName from
        (SELECT id,code as deptCode,`name` as deptName,pid from department) h
        LEFT JOIN
        (SELECT id,`code` as parentDeptCode,`name` as parentDeptName from department WHERE `level` !=8) j on h.pid = j.id
        ) n on m.deptId = n.id) c
        LEFT JOIN
        (SELECT current_collector,case_pool_type,count(case when collection_status in(20,21,22,23,24) then id end) as caseNum,
        sum(case when collection_status in (20,21,22,23,24) then ((case when overdue_amount is null then 0 else
        overdue_amount end)+(case when early_settle_amt is null then 0 else early_settle_amt end)) else 0 end) as
        caseAmt,
        count(case when DATE_FORMAT(followup_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d') then id end) as handleNum,
        count(case when followup_back = 90 then id end) as promiseNum,
        count(case when followup_back = 91 then id end) as consultNum,
        count(case when followup_back = 94 then id end) as otherTellNum,
        count(case when followup_back = 95 then id end) as findNum,
        count(case when followup_back = 96 then id end) as noAnswerNum
         from case_info WHERE current_collector is not
        null and case_pool_type not in (228) group by current_collector,case_pool_type) a on a.current_collector = c.id
        LEFT JOIN
        (
        SELECT g.callNum,g.communicateNum,g.callDuration,g.effectiveCallNum,f.id from
        (SELECT operator,
        count(case when collection_way = 0 then id end) as callNum,
        count(case when collection_way = 1 then id end) as communicateNum,
        sum(conn_secs) as callDuration,
        count(case when op_url is not null then id end) as effectiveCallNum from case_followup_record where
        DATE_FORMAT(operator_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')
        GROUP BY operator) g
        left join
        (SELECT id,user_name from `user`) f on g.operator = f.user_name
        ) b on a.current_collector = b.id
        where c.deptCode LIKE CONCAT(#{deptCode}, '%')
        <if test="companyCode != null">
            AND c.companyCode = #{companyCode}
        </if>
        <if test="code != null">
            AND c.deptCode LIKE CONCAT(#{code},'%')
        </if>
        <if test="userName != null">
            AND c.userName LIKE CONCAT('%',#{userName},'%')
        </if>
        order by c.deptCode asc
    </select>

    <!-- 保存催收员每日催收过程历史报表 -->
    <select id="saveHistoryReport" parameterType="Date"
            resultType="cn.fintecher.pangolin.report.entity.DailyProcessReport">
        SELECT
        c.deptCode,c.deptName,c.parentDeptCode,c.parentDeptName,c.userName,c.realName,a.caseNum,a.caseAmt,a.handleNum,a.promiseNum,a.consultNum,a.otherTellNum,a.findNum,
        a.noAnswerNum,case when b.callNum is null then 0 else b.callNum end as callNum,case when b.communicateNum is
        null then 0 else b.communicateNum end as communicateNum,
        case when b.callDuration is null then 0 else b.callDuration end as
        callDuration,
        case when b.effectiveCallNum is null then 0 else b.effectiveCallNum end as
        effectiveCallNum,c.companyCode,DATE_FORMAT(#{historyDate},'%Y-%m-%d') as nowDate from
        (SELECT m.id,n.deptCode,n.deptName,n.parentDeptCode,n.parentDeptName,m.companyCode,m.userName,m.realName from
        (SELECT id,dept_id as deptId,company_code as companyCode,
        user_name as userName,real_name as realName from user) m
        LEFT JOIN
		(SELECT h.deptCode,h.deptName,h.id,j.parentDeptCode,j.parentDeptName from
        (SELECT id,code as deptCode,`name` as deptName,pid from department) h
		LEFT JOIN
		(SELECT id,`code` as parentDeptCode,`name` as parentDeptName from department WHERE `level` !=8) j on h.pid = j.id) n on m.deptId = n.id) c
		LEFT JOIN
        (SELECT current_collector,case_pool_type ,count(case when collection_status in(20,21,22,23,24) then id end) as caseNum,
        sum(case when collection_status in (20,21,22,23,24) then ((case when overdue_amount is null then 0 else
        overdue_amount end)+(case when early_settle_amt is null then 0 else early_settle_amt end)) else 0 end) as
        caseAmt,
        count(case when DATE_FORMAT(followup_time,'%Y-%m-%d') = DATE_FORMAT(#{historyDate},'%Y-%m-%d') then id end) as handleNum,
        count(case when followup_back = 90 then id end) as promiseNum,
        count(case when followup_back = 91 then id end) as consultNum,
        count(case when followup_back = 94 then id end) as otherTellNum,
        count(case when followup_back = 95 then id end) as findNum,
        count(case when followup_back = 96 then id end) as noAnswerNum from case_info WHERE current_collector is not
        null and case_pool_type not in (228) group by current_collector,case_pool_type) a on a.current_collector = c.id
        LEFT JOIN
        (
        SELECT g.callNum,g.communicateNum,g.callDuration,g.effectiveCallNum,f.id from
        (SELECT operator,
        count(case when collection_way = 0 then id end) as callNum,
        count(case when collection_way = 1 then id end) as communicateNum,
        sum(conn_secs) as callDuration,
        count(case when op_url is not null then id end) as effectiveCallNum from case_followup_record where
        DATE_FORMAT(operator_time,'%Y-%m-%d') = DATE_FORMAT(#{historyDate},'%Y-%m-%d')
        GROUP BY operator) g
        left join
        (SELECT id,user_name from `user`) f on g.operator = f.user_name
        ) b on a.current_collector = b.id

    </select>

    <!-- 查询催收员每日催收过程历史报表 -->
    <select id="getHistoryReport" parameterType="cn.fintecher.pangolin.report.model.GeneralParams"
            resultMap="dailyProcessReport">
        select * from daily_process_report where dept_code LIKE CONCAT(#{deptCode}, '%')
        <if test="companyCode != null">
            AND company_code = #{companyCode}
        </if>
        <if test="startDate != null and endDate != null">
            AND <![CDATA[DATE_FORMAT(now_date,'%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d')]]>
            AND <![CDATA[DATE_FORMAT(now_date,'%Y-%m-%d') <= DATE_FORMAT(#{endDate},'%Y-%m-%d')]]>
        </if>
        <if test="code != null">
            AND dept_code LIKE CONCAT(#{code}, '%')
        </if>
        <if test="userName != null">
            AND user_name LIKE concat('%',#{userName},'%')
        </if>
        order by parent_dept_code asc,dept_code asc,user_name asc,now_date DESC
    </select>

    <resultMap id="dailyProcessReport" type="cn.fintecher.pangolin.report.entity.DailyProcessReport">
        <id column="id" property="id"/>
        <result column="dept_code" property="deptCode"/>
        <result column="dept_name" property="deptName"/>
        <result column="parent_dept_code" property="parentDeptCode"/>
        <result column="parent_dept_name" property="parentDeptName"/>
        <result column="user_name" property="userName"/>
        <result column="real_name" property="realName"/>
        <result column="case_num" property="caseNum"/>
        <result column="case_amt" property="caseAmt"/>
        <result column="handle_num" property="handleNum"/>
        <result column="promise_num" property="promiseNum"/>
        <result column="consult_num" property="consultNum"/>
        <result column="other_tell_num" property="otherTellNum"/>
        <result column="find_num" property="findNum"/>
        <result column="no_answer_num" property="noAnswerNum"/>
        <result column="call_num" property="callNum"/>
        <result column="effective_call_num" property="effectiveCallNum"/>
        <result column="call_duration" property="callDuration"/>
        <result column="communicate_num" property="communicateNum"/>
        <result column="now_date" property="nowDate"/>
        <result column="operator_user_name" property="operatorUserName"/>
        <result column="operator_real_name" property="operatorRealName"/>
        <result column="operator_date" property="operatorDate"/>
        <result column="company_code" property="companyCode"/>
    </resultMap>
</mapper>