<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.QueryOutsourceFollowupMapper">

    <select id="findOutsourceRecord" parameterType="cn.fintecher.pangolin.report.model.ExportOutsourceFollowRecordParams" resultMap="outSourceResultMap">
        SELECT a.id, b.out_batch as batch_num,a.case_number,a.personal_id,a.area_id,a.contract_number,c.outs_name,
        b.contract_amt as outsource_total_amount,b.out_back_amt as has_pay_amount_outsource, (b.contract_amt - b.out_back_amt) as left_amount, TIMESTAMPDIFF(DAY,curdate(),b.over_outsource_time) as left_days_outsource,b.out_time,b.over_outsource_time, b.end_outsource_time, b.out_status, b.commission_rate as commission_rate_outsource,
        a.batch_number, e.id as product_id, e.product_name, a.contract_number, a.contract_amount, a.overdue_amount, a.left_capital, a.overdue_capital, a.overdue_interest, a.periods, a.per_due_date,
        a.overdue_periods, a.overdue_days, a.has_pay_amount, a.has_pay_periods, a.left_days, a.pay_status, j.id as principal_id, j.`name` as principal_name, a.collection_status, a.commission_rate, a.loan_date,a.overdue_manage_fee,a.followup_back from case_info a
        INNER JOIN outsource_pool b on a.id=b.case_id
        INNER JOIN outsource c ON b.out_id=c.id
        LEFT JOIN personal d ON a.personal_id = d.id
        LEFT JOIN product e ON a.product_id = e.id
        LEFT JOIN area_code f ON a.area_id = f.id
        LEFT JOIN principal j ON a.principal_id = j.id
        WHERE a.case_pool_type = 227
        AND b.out_status =168
        AND a.recover_remark=0
        <if test="companyCode != null and companyCode !=''">
            AND a.company_code = #{companyCode}
        </if>
        <if test="batchNumberList != null and batchNumberList.size()>0">
            AND b.out_batch IN
            <foreach collection="batchNumberList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="caseNumberList != null and caseNumberList.size()>0">
            AND a.case_number IN
            <foreach collection="caseNumberList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="outsName != null and outsName !=''">
            AND c.outs_name = #{outsName}
        </if>
        <if test="batchNumber != null and batchNumber !=''">
            AND b.out_batch = #{batchNumber}
        </if>
        <if test="personalName != null and personalName !=''">
            AND d.name LIKE CONCAT(#{personalName}, '%')
        </if>
        <if test="phone != null and phone !=''">
            AND d.mobile_no = #{phone}
        </if>
        <if test="overDayStart != null and overDayStart !=''">
            AND a.overdue_days &gt; #{overDayStart}
        </if>
        <if test="overDayEnd !=null and overDayEnd !=''">
            AND a.overdue_days &lt; #{overDayEnd}
        </if>
        <if test="outCaseAmountStart != null and outCaseAmountStart !=''">
            AND b.contract_amt > #{outCaseAmountStart}
        </if>
        <if test="outCaseAmountEnd != null and outCaseAmountEnd !=''">
            AND b.contract_amt &lt; #{outCaseAmountEnd}
        </if>
        <if test="outsNameList != null and outsNameList.size()>0">
            AND  c.outs_name in
            <foreach collection="outsNameList" index="index" item="outsName" open="(" separator="," close=")">
                #{outsName}
            </foreach>
        </if>
        <if test="outTimeStart != null and outTimeStart != ''">
            AND <![CDATA[DATE_FORMAT(out_time,'%Y-%m-%d') >= DATE_FORMAT(#{outTimeStart},'%Y-%m-%d')]]>
        </if>
        <if test="outTimeEnd != null and outTimeEnd !=''">
            AND <![CDATA[DATE_FORMAT(out_time,'%Y-%m-%d') <= DATE_FORMAT(#{outTimeEnd},'%Y-%m-%d')]]>
        </if>
        <if test="overOutsourceTimeStart != null and overOutsourceTimeStart != ''">
            AND <![CDATA[DATE_FORMAT(over_outsource_time,'%Y-%m-%d') >= DATE_FORMAT(#{overOutsourceTimeStart},'%Y-%m-%d')]]>
        </if>
        <if test="overOutsourceTimeEnd != null and overOutsourceTimeEnd != ''">
            AND <![CDATA[DATE_FORMAT(over_outsource_time,'%Y-%m-%d') <= DATE_FORMAT(#{overOutsourceTimeEnd},'%Y-%m-%d')]]>
        </if>
    </select>

    <select id="findOutsourceFollowupRecord" parameterType="cn.fintecher.pangolin.report.model.ExportOutsourceFollowRecordParams" resultMap="outSourceResultMap">
        SELECT
        a.id,
        b.out_batch AS batch_num,
        a.case_number,
        a.personal_id,
        a.area_id,
        g.id AS out_follow_id,
        a.contract_number,
        c.outs_name,
        b.contract_amt AS outsource_total_amount,
        b.out_back_amt AS has_pay_amount_outsource,
        (
        b.contract_amt - b.out_back_amt
        ) AS left_amount,
        TIMESTAMPDIFF(
        DAY,
        curdate(),
        b.over_outsource_time
        ) AS left_days_outsource,
        b.out_time,
        b.over_outsource_time,
        b.end_outsource_time,
        b.out_status,
        b.commission_rate AS commission_rate_outsource,
        a.batch_number,
        e.id AS product_id,
        e.product_name,
        a.contract_number,
        a.contract_amount,
        a.overdue_amount,
        a.left_capital,
        a.overdue_capital,
        a.overdue_interest,
        a.periods,
        a.per_due_date,
        a.overdue_periods,
        a.overdue_days,
        a.has_pay_amount,
        a.has_pay_periods,
        a.left_days,
        a.pay_status,
        j.id AS principal_id,
        j.`name` AS principal_name,
        a.collection_status,
        a.commission_rate,
        a.loan_date,
        a.overdue_manage_fee,
        a.followup_back
        FROM
        case_followup_record g
        INNER JOIN  case_info a ON a.id = g.case_id
        LEFT JOIN outsource_pool b ON a.id = b.case_id

        INNER JOIN outsource c ON b.out_id = c.id
        LEFT JOIN personal d ON a.personal_id = d.id
        LEFT JOIN product e ON a.product_id = e.id
        LEFT JOIN area_code f ON a.area_id = f.id
        LEFT JOIN principal j ON a.principal_id = j.id
        WHERE
        a.recover_remark = 0
        and b.out_status = 168 and a.collection_status = 21
        <!--SELECT a.id, b.out_batch as batch_num,a.case_number,a.personal_id,a.area_id,g.id as out_follow_id,a.contract_number,c.outs_name,
        b.contract_amt as outsource_total_amount,b.out_back_amt as has_pay_amount_outsource, (b.contract_amt - b.out_back_amt) as left_amount, TIMESTAMPDIFF(DAY,curdate(),b.over_outsource_time) as left_days_outsource,b.out_time,b.over_outsource_time, b.end_outsource_time, b.out_status, b.commission_rate as commission_rate_outsource,
        a.batch_number, e.id as product_id, e.product_name, a.contract_number, a.contract_amount, a.overdue_amount, a.left_capital, a.overdue_capital, a.overdue_interest, a.periods, a.per_due_date,
        a.overdue_periods, a.overdue_days, a.has_pay_amount, a.has_pay_periods, a.left_days, a.pay_status, j.id as principal_id, j.`name` as principal_name, a.collection_status, a.commission_rate, a.loan_date,a.overdue_manage_fee,a.followup_back from case_info a
        INNER JOIN outsource_pool b on a.id=b.case_id
        INNER JOIN outsource c ON b.out_id=c.id
        LEFT JOIN personal d ON a.personal_id = d.id
        LEFT JOIN product e ON a.product_id = e.id
        LEFT JOIN area_code f ON a.area_id = f.id
        LEFT JOIN principal j ON a.principal_id = j.id
        LEFT JOIN case_followup_record g ON a.id = g.case_id
        WHERE a.case_pool_type = 227
        AND g.case_followup_type = 226
        AND a.recover_remark=0-->
        <!-- 全部催收中需要导出催收中和已结案的跟进记录
        <if test="type == 1">
            AND b.out_status =168
        </if>-->
        <if test="type == 2">
            AND b.out_status =170
        </if>
        <if test="companyCode != null and companyCode !=''">
            AND a.company_code = #{companyCode}
        </if>
        <if test="batchNumber != null and batchNumber !=''">
            AND b.out_batch = #{batchNumber}
        </if>
        <if test="outsName != null and outsName !=''">
            AND c.outs_name = #{outsName}
        </if>
        <if test="batchNumberList != null and batchNumberList.size()>0">
            AND b.out_batch IN
            <foreach collection="batchNumberList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="outsIdList != null and outsIdList.size()>0">
            AND b.out_id IN
            <foreach collection="outsIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="caseNumberList != null and caseNumberList.size()>0">
            AND a.case_number IN
            <foreach collection="caseNumberList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="personalName != null and personalName !=''">
            AND d.name LIKE CONCAT(#{personalName}, '%')
        </if>
        <if test="phone != null and phone !=''">
            AND d.mobile_no = #{phone}
        </if>
        <if test="overDayStart != null and overDayStart !=''">
            AND a.overdue_days &gt; #{overDayStart}
        </if>
        <if test="overDayEnd !=null and overDayEnd !=''">
            AND a.overdue_days &lt; #{overDayEnd}
        </if>
        <if test="outCaseAmountStart != null and outCaseAmountStart !=''">
            AND b.contract_amt &gt; #{outCaseAmountStart}
        </if>
        <if test="outCaseAmountEnd != null and outCaseAmountEnd !=''">
            AND b.contract_amt &lt; #{outCaseAmountEnd}
        </if>
        <if test="overduePeriods != null and overduePeriods !=''">
            AND  a.pay_status = #{overduePeriods}
        </if>
        <if test="outsNameList != null and outsNameList.size()>0">
            AND  c.outs_name in
            <foreach collection="outsNameList" index="index" item="outsName" open="(" separator="," close=")">
                #{outsName}
            </foreach>
        </if>
        <if test="outTimeStart != null and outTimeStart != ''">
            AND <![CDATA[DATE_FORMAT(out_time,'%Y-%m-%d') >= DATE_FORMAT(#{outTimeStart},'%Y-%m-%d')]]>
        </if>
        <if test="outTimeEnd != null and outTimeEnd !=''">
            AND <![CDATA[DATE_FORMAT(out_time,'%Y-%m-%d') <= DATE_FORMAT(#{outTimeEnd},'%Y-%m-%d')]]>
        </if>
        <if test="overOutsourceTimeStart != null and overOutsourceTimeStart != ''">
            AND <![CDATA[DATE_FORMAT(over_outsource_time,'%Y-%m-%d') >= DATE_FORMAT(#{overOutsourceTimeStart},'%Y-%m-%d')]]>
        </if>
        <if test="overOutsourceTimeEnd != null and overOutsourceTimeEnd != ''">
            AND <![CDATA[DATE_FORMAT(over_outsource_time,'%Y-%m-%d') <= DATE_FORMAT(#{overOutsourceTimeEnd},'%Y-%m-%d')]]>
        </if>
        <if test="endOutsourceTimeStart != null and endOutsourceTimeStart != ''">
            AND <![CDATA[DATE_FORMAT(end_outsource_time,'%Y-%m-%d') >= DATE_FORMAT(#{endOutsourceTimeStart},'%Y-%m-%d')]]>
        </if>
        <if test="endOutsourceTimeEnd != null and endOutsourceTimeEnd != ''">
            AND <![CDATA[DATE_FORMAT(end_outsource_time,'%Y-%m-%d') <= DATE_FORMAT(#{endOutsourceTimeEnd},'%Y-%m-%d')]]>
        </if>
    </select>

    <resultMap id="outSourceResultMap" type="cn.fintecher.pangolin.report.model.ExcportOutsourceResultModel">
        <id column="id" property="id"/>
        <result column="case_number" property="caseNumber"/>
        <result column="batch_num" property="batchNumberOutsource"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="outsource_total_amount" property="outsourceTotalAmount"/>
        <result column="left_amount" property="leftAmount"/>
        <result column="left_days_outsource" property="leftDaysOutsource"/>
        <result column="outs_name" property="outsName"/>
        <result column="has_pay_amount_outsource" property="hasPayAmountOutsource"/>
        <result column="out_time" property="outTime"/>
        <result column="over_outsource_time" property="overOutsourceTime"/>
        <result column="end_outsource_time" property="endOutTime"/>
        <result column="out_status" property="outStatus"/>
        <result column="commission_rate_outsource" property="commissionRateOutsource"/>
        <result column="batch_number" property="batchNumber"/>
        <result column="contract_amount" property="contractAmount"/>
        <result column="overdue_amount" property="overdueAmount"/>
        <result column="overdue_capital" property="overdueCapital"/>
        <result column="left_capital" property="leftCapital"/>
        <result column="periods" property="periods"/>
        <result column="overdue_interest" property="overdueInterest"/>
        <result column="per_due_date" property="perDueDate"/>
        <result column="overdue_periods" property="overduePeriods"/>
        <result column="overdue_days" property="overdueDays"/>
        <result column="has_pay_amount" property="hasPayAmount"/>
        <result column="has_pay_periods" property="hasPayPeriods"/>
        <result column="left_days" property="leftDays"/>
        <result column="pay_status" property="payStatus"/>
        <result column="collection_status" property="collectionStatus"/>
        <result column="commission_rate" property="commissionRate"/>
        <result column="loan_date" property="loanDate"/>
        <result column="overdue_manage_fee" property="overdueManageFee"/>
        <result column="followup_back" property="followupBack"/>
        <result column="principal_name" property="principalName"/>
        <result column="product_name" property="productName"/>
        <association property="personalInfo" column="personal_id" select="selectPersonalOutsource"></association>
        <association property="areaCode" column="area_id" select="selectCityAreaOutsource"></association>
        <association property="product" column="product_id" select="selectProductOutsource"></association>
        <association property="principal" column="principal_id" select="selectPrincipalOutsource"></association>
        <collection property="outsourceFollowRecords" column="out_follow_id" ofType="cn.fintecher.pangolin.entity.OutsourceFollowRecord" select="selectOutsourceFollowRecord"></collection>
    </resultMap>

    <select id="selectPersonalOutsource" parameterType="string" resultMap="personalResultMapOutsource">
        SELECT id,name,id_card,number,mobile_no,local_phone_no,id_card_address,local_home_address,marital,certificates_number FROM personal WHERE id = #{personal_id}
    </select>

    <resultMap id="personalResultMapOutsource" type="cn.fintecher.pangolin.entity.Personal">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="id_card" property="idCard"/>
        <result column="number" property="number"/>
        <result column="mobile_no" property="mobileNo"/>
        <result column="id_card_address" property="idCardAddress"/>
        <result column="local_phone_no" property="localPhoneNo"/>
        <result column="local_home_address" property="localHomeAddress"/>
        <result column="marital" property="marital"/>
        <result column="certificates_number" property="certificatesNumber"/>
        <collection property="personalBankInfos" column="id" ofType="cn.fintecher.pangolin.entity.PersonalBank" select="selectPersonalBankOutsource"></collection>
        <collection property="personalJobs" column="id" ofType="cn.fintecher.pangolin.entity.PersonalJob" select="selectPersonalJobOutsource"></collection>
        <collection property="personalContacts" column="id" ofType="cn.fintecher.pangolin.entity.PersonalContact" select="selectPersonalContactsOutsource"></collection>
    </resultMap>

    <select id="selectPersonalBankOutsource" resultMap="personalBankMapOutsource">
        SELECT id,account_number,deposit_bank,card_number FROM personal_bank WHERE personal_id = #{id}
    </select>

    <resultMap id="personalBankMapOutsource" type="cn.fintecher.pangolin.entity.PersonalBank">
        <id column="id" property="id"/>
        <result column="account_number" property="accountNumber"/>
        <result column="deposit_bank" property="depositBank"/>
        <result column="card_number" property="cardNumber"/>
    </resultMap>

    <select id="selectPersonalJobOutsource" resultMap="personalJobMapOutsource">
        select id,company_name,address,phone from personal_job WHERE personal_id = #{id}
    </select>

    <resultMap id="personalJobMapOutsource" type="cn.fintecher.pangolin.entity.PersonalJob">
        <id column="id" property="id"/>
        <result column="company_name" property="companyName"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
    </resultMap>

    <select id="selectPersonalContactsOutsource" resultMap="personalContactsMapOutsource">
        select id,name,phone,mobile,address,relation,employer,work_phone from personal_contact WHERE personal_id = #{id}
    </select>

    <resultMap id="personalContactsMapOutsource" type="cn.fintecher.pangolin.entity.PersonalContact">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="mobile" property="mobile"/>
        <result column="address" property="address"/>
        <result column="relation" property="relation"/>
        <result column="work_phone" property="workPhone"/>
    </resultMap>

    <select id="selectCityAreaOutsource" resultMap="cityOutsource">
        SELECT id,parent_id,area_name FROM area_code WHERE id = #{area_id}
    </select>

    <resultMap id="cityOutsource" type="cn.fintecher.pangolin.entity.AreaCode">
        <id column="id" property="id"/>
        <result column="area_name" property="areaName"/>
        <association property="parent" column="parent_id" select="selectProvinceAreaOutsource"></association>
    </resultMap>

    <select id="selectPrincipalOutsource" resultMap="principalMapOutsource">
        select id,name from principal where id = #{principal_id}
    </select>

    <resultMap id="principalMapOutsource" type="cn.fintecher.pangolin.entity.Principal">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="selectProvinceAreaOutsource" resultMap="provinceOutsource">
        select id,area_name from area_code where id = #{parent_id}
    </select>

    <resultMap id="provinceOutsource" type="cn.fintecher.pangolin.entity.AreaCode">
        <id column="id" property="id"/>
        <result column="area_name" property="areaName"/>
    </resultMap>

    <select id="selectProductOutsource" resultMap="productMapOutsource">
        select id,product_name from product where id = #{product_id}
    </select>

    <resultMap id="productMapOutsource" type="cn.fintecher.pangolin.entity.Product">
        <id column="id" property="id"/>
        <result column="product_name" property="productName"/>
    </resultMap>

    <select id="selectOutsourceFollowRecord" resultMap="OutsourceFollowRecord">
        SELECT * FROM case_followup_record WHERE id = #{out_follow_id}
    </select>

    <resultMap id="OutsourceFollowRecord" type="cn.fintecher.pangolin.entity.CaseFollowupRecord">
        <id column="id" property="id"/>
        <result column="case_number" property="caseNumber"/>
        <result column="target" property="target"/>
        <result column="target_name" property="targetName"/>
        <result column="type" property="type"/>
        <result column="contact_phone" property="contactPhone"/>
        <result column="contact_state" property="contactState"/>
        <result column="collection_feedback" property="collectionFeedback"/>
        <result column="content" property="content"/>
        <result column="follow_time" property="followTime"/>
        <result column="follow_person" property="followPerson"/>
    </resultMap>

</mapper>