<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.pangolin.report.mapper.SmsReportMapper">
    <!-- 查询短信统计实时报表 -->
    <select id="getRealtimeReport" parameterType="cn.fintecher.pangolin.report.model.GeneralParams"
            resultType="cn.fintecher.pangolin.report.entity.SmsReport">
        SELECT a.deptCode,a.deptName,a.parentDeptCode,a.parentDeptName,a.userName,a.realName,
        case when b.smsNum is null then 0 else b.smsNum end as smsNum,
        case when b.successNum is null then 0 else b.successNum end as successNum,
        case when b.failureNum is null then 0 else b.failureNum end as failureNum,
        DATE_FORMAT(NOW(),'%Y-%m-%d') as nowDate,a.companyCode FROM
        (SELECT x.deptCode,x.deptName,x.parentDeptCode,x.parentDeptName,z.userName,z.realName,z.companyCode from
        (SELECT user_name as userName,real_name as realName,dept_id,company_code as companyCode from `user` where
        `status` = 0 and company_code is not null and id not like concat('0o0oo0o0-0o0o-0000-0000','%')) z
        LEFT JOIN
        (SELECT c.deptCode,c.deptName,v.parentDeptCode,v.parentDeptName,c.id from
        (SELECT id,`code` as deptCode,`name` as deptName,pid from department) c
        LEFT JOIN
        (SELECT id,`code` as parentDeptCode,`name` as parentDeptName from department) v on c.pid = v.id) x on z.dept_id
        = x.id) a
        LEFT JOIN
        (SELECT operator_user_name,COUNT(id) as smsNum,count(case when flag = 0 then id end) as successNum,count(case
        when flag = 1 then id end) as failureNum from send_message_record where
        DATE_FORMAT(operator_date,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')
        GROUP BY operator_user_name) b on a.userName = b.operator_user_name where deptCode like concat(#{deptCode},'%')
        <if test="companyCode != null">
            AND companyCode = #{companyCode}
        </if>
        <if test="code != null">
            AND deptCode like concat(#{code},'%')
        </if>
        <if test="userName != null">
            AND userName like concat('%',#{userName},'%')
        </if>
        order by parentDeptCode asc,deptCode asc,smsNum desc
    </select>

    <!-- 生成短信统计历史报表 -->
    <select id="saveHistoryReport" parameterType="Date"
            resultType="cn.fintecher.pangolin.report.entity.SmsReport">
        SELECT a.deptCode,a.deptName,a.parentDeptCode,a.parentDeptName,a.userName,a.realName,
        case when b.smsNum is null then 0 else b.smsNum end as smsNum,
		case when b.successNum is null then 0 else b.successNum end as successNum,
		case when b.failureNum is null then 0 else b.failureNum end as failureNum,
		DATE_FORMAT(#{historyDate},'%Y-%m-%d') as nowDate,a.companyCode FROM
        (SELECT x.deptCode,x.deptName,x.parentDeptCode,x.parentDeptName,z.userName,z.realName,z.companyCode from
        (SELECT user_name as userName,real_name as realName,dept_id,company_code as companyCode from `user` where
        `status` = 0 and company_code is not null and id not like concat('0o0oo0o0-0o0o-0000-0000','%')) z
        LEFT JOIN
        (SELECT c.deptCode,c.deptName,v.parentDeptCode,v.parentDeptName,c.id from
        (SELECT id,`code` as deptCode,`name` as deptName,pid from department) c
        LEFT JOIN
        (SELECT id,`code` as parentDeptCode,`name` as parentDeptName from department) v on c.pid = v.id) x on z.dept_id
        = x.id) a
        LEFT JOIN
        (SELECT operator_user_name,COUNT(id) as smsNum,count(case when flag = 0 then id end) as successNum,
        count(case when flag = 1 then id end) as failureNum from send_message_record where
        DATE_FORMAT(operator_date,'%Y-%m-%d') = DATE_FORMAT(#{historyDate},'%Y-%m-%d')
        GROUP BY operator_user_name) b on a.userName = b.operator_user_name
    </select>

    <!-- 查询短信发送统计历史报表 -->
    <select id="getHistoryReport" parameterType="cn.fintecher.pangolin.report.model.GeneralParams"
            resultMap="smsReport">
        select dept_code,dept_name,parent_dept_code,parent_dept_name,user_name,real_name,
        sum(sms_num)as sms_num,sum(success_num) as success_num,
        sum(failure_num) as failure_num from sms_report where dept_code like concat(#{deptCode},'%')
        <if test="companyCode != null">
            and company_code = #{companyCode}
        </if>
        <if test="startDate != null and endDate != null">
            AND <![CDATA[DATE_FORMAT(now_date,'%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d')]]>
            AND <![CDATA[DATE_FORMAT(now_date,'%Y-%m-%d') <= DATE_FORMAT(#{endDate},'%Y-%m-%d')]]>
        </if>
        <if test="code != null">
            AND dept_code LIKE CONCAT(#{code}, '%')
        </if>
        <if test="userName != null">
            AND user_name LIKE CONCAT('%', #{userName}, '%')
        </if>
        GROUP BY dept_code,dept_name,parent_dept_code,parent_dept_name,user_name,real_name
        ORDER BY parent_dept_code asc,dept_code asc,user_name asc,sms_num desc;
    </select>

    <resultMap id="smsReport" type="cn.fintecher.pangolin.report.entity.SmsReport">
        <id column="id" property="id"/>
        <result column="dept_code" property="deptCode"/>
        <result column="dept_name" property="deptName"/>
        <result column="parent_dept_code" property="parentDeptCode"/>
        <result column="parent_dept_name" property="parentDeptName"/>
        <result column="user_name" property="userName"/>
        <result column="real_name" property="realName"/>
        <result column="sms_num" property="smsNum"/>
        <result column="success_num" property="successNum"/>
        <result column="failure_num" property="failureNum"/>
        <result column="now_date" property="nowDate"/>
        <result column="operator_user_name" property="operatorUserName"/>
        <result column="operator_real_name" property="operatorRealName"/>
        <result column="operator_date" property="operatorDate"/>
        <result column="company_code" property="companyCode"/>
    </resultMap>
</mapper>